.form-field {
  width: 100%;
}

legend {
  display: flex;
  justify-content: space-between;
}
.paramContainer {
  padding-top: 12px;
}
.removeLink {
  padding: 0 8px 8px 0;
}

button {
  outline: none;
}
::ng-deep {
  .cke_editable_inline {
    min-height: 64px !important;
    outline: none;
  }
}
.dropdownIcon {
  cursor: pointer;
  font-size: 24px;
  margin-top: -4px;
}
