<div class="api-content">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="#">Clinic</a></li> -->
          <li class="breadcrumb-item"><a href="#">{{apiDoc?.method | uppercase}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{apiDoc?.path}}</li>
        </ol>
      </nav>
    </div>
    <form class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">{{apiDoc?.method | uppercase}}</span>
        </div>
        <input type="text" class="form-control" [value]="apiBase+apiDoc?.path" readonly placeholder="" />
        <div class="input-group-append">
          <span class="input-group-text"><a [cdkCopyToClipboard]="apiBase+apiDoc?.path"
              href="javascipt:void()">Copy</a></span>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <main role="main" class="col-md-12">
      <h3>Authenication</h3>
      <mat-card>
        <table class="table text-start table-bordered">
          <tbody>
            <tr style="line-height: 36px;">
              <td><code>Token</code></td>
              <td>Required</td>
              <td>
                An authentication token required for data view
              </td>
              <td>
                <input type="text" name="token" class="form-control" [(ngModel)]="token" />
              </td>
            </tr>
          </tbody>
        </table>

        <br clear="both" />
      </mat-card>
      <ng-container *ngIf="!!apiDoc?.params && !!apiDoc?.params?.length">
        <h3>Parameters</h3>
        <mat-card>
          <table class="table text-start table-bordered">
            <thead>
              <tr>
                <th>Params</th>
                <th>Type</th>
                <th>Description</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let apidoc of apiDoc?.params;let i = index;">
                <td><code>{{apidoc?.param}}</code></td>
                <td>{{apidoc?.type | titlecase}}</td>
                <td>
                  <div [innerHtml]="apidoc?.description"></div>
                  <ng-container *ngIf="!!apidoc?.acceptableValues && !!apidoc?.acceptableValues?.length">
                    <b>Acceptable values : </b> <code>{{apidoc?.acceptableValues}}</code>
                  </ng-container>
                </td>
                <td>
                  <input [type]="apidoc.representation" class="form-control" [name]="'param'+apidoc.param+i"
                    *ngIf="apidoc.representation != 'enum'" [(ngModel)]="params[apidoc.param]" />
                  <select [name]="'param'+apidoc.param+i" class="form-control" [(ngModel)]="params[apidoc.param]"
                    *ngIf="apidoc.representation == 'enum'">
                    <option value="">--</option>
                    <option [value]="v" *ngFor="let v of apidoc?.acceptableValues">{{v}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary pull-right" (click)="evaluate()" style="display:flex;">
            Get Response &emsp;
            <mat-spinner diameter="16" color="warn" *ngIf="loader"></mat-spinner>
          </button>
          <br clear="both" />
        </mat-card>
      </ng-container>
      <ng-container *ngIf="!!apiDoc?.queryParams && !!apiDoc?.queryParams?.length">
        <h3>Parameters</h3>
        <mat-card>
          <table class="table text-start table-bordered">
            <thead>
              <tr>
                <th>Params</th>
                <!-- <th>Type</th> -->
                <th>Description</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let apidoc of apiDoc?.queryParams;let i = index;">
                <td><code>{{apidoc?.param}}</code></td>
                <!-- <td>{{apidoc?.type | titlecase}}</td> -->
                <td>
                  <div [innerHtml]="apidoc?.description"></div>
                  <ng-container *ngIf="!!apidoc?.acceptableValues && !!apidoc?.acceptableValues?.length">
                    <b>Acceptable values : </b> <code>{{apidoc?.acceptableValues}}</code>
                  </ng-container>
                </td>
                <td>
                  <input [type]="apidoc.representation" class="form-control" [name]="'queryParams'+apidoc.param+i"
                    *ngIf="apidoc?.representation != 'enum'" [(ngModel)]="queryParams[apidoc.param]" />
                  <select [name]="'queryParams'+apidoc.param+i" class="form-control"
                    [(ngModel)]="queryParams[apidoc.param]" *ngIf="apidoc?.representation == 'enum'">
                    <option value="">--</option>
                    <option [value]="v" *ngFor="let v of apidoc?.acceptableValues">{{v}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary pull-right" (click)="evaluate()" style="display:flex;">
            Get Response &emsp;
            <mat-spinner diameter="16" color="warn" *ngIf="loader"></mat-spinner>
          </button>
          <br clear="both" />
        </mat-card>
      </ng-container>

      <h3>Response Query and Data Results</h3>
      <mat-card *ngIf="!result && !error" style="text-align:center;padding:30px;">
        <a class="text-info text-center" (click)="evaluate()" style="display:flex;cursor:pointer;">
          Get Response &emsp;
          <mat-spinner diameter="16" color="warn" *ngIf="loader"></mat-spinner>
        </a>
      </mat-card>
      <mat-card *ngIf="result">
        <mat-tab-group>
          <mat-tab label="Request Payload">
            <pre>{{params | json}}</pre>
          </mat-tab>
          <mat-tab label="Response JSON">
            <div class="highlight">
              <pre *ngIf="result">{{result | json}}</pre>
            </div>
          </mat-tab>
          <mat-tab label="Responce Object">
            <ngx-json-viewer [json]="result"></ngx-json-viewer>
          </mat-tab>
          <mat-tab label="Respoce Grid View">
            <!-- <table class="table table-bordered">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Last Login</th>
                  <th>Completed Self-declared records date</th>
                  <th>Chronic Condition</th>
                  <th>365 Schedules</th>
                  <th>Triage</th>
                  <th>Last Device</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of result?.data">
                  <td>{{data?.first_name}}</td>
                  <td>{{data?.last_name}}</td>
                  <td>{{data?.lastLogin?.createdAt | date:'dd MMM yyyy hh:mm a'}}</td>
                  <td>{{data?.medical_conditions?.updatedAt | date:'dd MMM yyyy hh:mm a'}}
                  </td>
                  <td>NO</td>
                  <td>{{data?.bookings_in_year}}</td>
                  <td>{{data?.triage_level}}</td>
                  <td>{{data?.lastLogin?.platform}}</td>
                </tr>
              </tbody>
            </table> -->
            <div class="jumbotron">
              <h1>Under Construction</h1>
            </div>
          </mat-tab>
          <mat-tab label="Error Object" *ngIf="error">
            <pre>{{error | json}}</pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <mat-card *ngIf="error">
        <mat-tab-group>
          <mat-tab label="Error Object">
            <pre>{{error | json}}</pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card>

      <h3>Develoers guidelines</h3>
      <mat-card>
        <h5>API explained</h5>
        <div [innerHtml]="apiDoc?.description"></div>
      </mat-card>
    </main>
  </div>
</div>