html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}
button.icon {
  border: none;
  background: transparent;
  outline: none;
}

.box {
  max-width: 800px;
  margin: auto;
  height: 100%;
}
