.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  // background: #eee;
}
mat-sidenav {
  width: 300px;
  padding: 8px;
}
mat-sidenav,
mat-tree {
  background: transparent;
}
mat-sidenav-content {
  padding: 8px;
}
.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
span {
  outline: none;
}
.mat-tree-node {
  width: 100%;
}
.navList {
  padding: 0;
  margin: auto;

  a {
    width: 100%;
    text-decoration: none;
    color: unset;
  }
}
.add {
  float: right;
  cursor: pointer;
  outline: none;
}
